@keyframes slidescale{
    0% {transform: scale(0.5);}
    100% {transform: scale(1);}
  }

@keyframes slidehautbas{
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0);}
}

@keyframes slidebashaut{
    0% {transform: translateY(+100%);}
    100% {transform: translateY(0);} 
}

html{
    scroll-behavior: smooth;
}

:root{
    --fond: #222;
    --bleu: #2CB2F7;
}

.active{
    color: var(--bleu);
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--fond);
    width: 100%;
    height: auto;
    font-family: 'Proxima Nova';
    font-weight: 100;
}

header{
    width: 100%;
    height: 100vh;
    background: url('../images/header5.jpg') no-repeat;
    background-size: cover;
    background-position: center 75%;
}

header ul{
    width: 100%;
    position: fixed;
    animation:  slidehautbas 1s ease-out 0s 1;
}

header ul li{
    font-size: 0.8rem;
    padding: 0.3rem;
    margin: 0.625rem 0;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

header a{
    color: #fff;
}

header a:hover{
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: .3s;
}

.titre{
    display: flex;
    height: 53.125rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    animation:  slidescale 1s ease-out 0s 1;
}

h1{
    font-weight: 300;
    color: #fff;
    font-size: 4.3rem;
    letter-spacing: .2rem;
}

header h4{
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #111;
    font-weight: 300;
    font-size: 1.5rem;
}

.container h4{
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 2.5rem auto;
}

h2{
    font-weight: 300;
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    margin: 2.5rem 0;
}

/***********************************/

.container{
    display: flex;
    flex-direction: column;
}

img{
    margin: 0 auto;
}

#web img{
    width: 70%;
}

#mobile img{
    width: 40%;
}

#album img{
    width: 50%;
}

.description{ 
    color: #eee;
    letter-spacing: .1rem;
    font-size: 1.25rem;
}

.description a{
    color: var(--bleu);
}

.description a:hover{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 1.25rem 0;
    list-style-type: none;
}

footer{
    margin-top: auto;
    text-align: center;
    height: 15.625rem;
    padding-top: 12.5rem;
}

footer p{
    color: #fff;
}

footer a{
    color: var(--bleu);
}

/***Responsive***/

@media all and (max-width: 64rem)
{
    header .nav{
        display: none;
    }
}

@media all and (max-width: 112.5rem)
{
    #elements{
        justify-content: center;
    }
}


@media all and (max-width: 40rem){
    .titre h1{
        text-align: center;
    }
    body{
        width: 100vw !important;
    }
}

@media all and (max-width: 48.75rem){
    .container_contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .formulaire{
        margin-bottom: 3.125rem;
    }
    .infos{
        padding: 0;
    }
}